    <!-- SOSIAL MEDIA -->
<section id="social" class="py-5 bg-dark text-white">
  <div class="container text-center">
    <h2 class="mb-4">Media Sosial & Konten</h2>

    <p class="mb-3">
      Aktif sebagai content creator dan editor meme di beberapa platform.
    </p>

    <div class="d-flex justify-content-center gap-4 fs-2">

      <a href="https://youtube.com/@komar3914" target="_blank" class="text-white">
        <i class="bi bi-youtube"></i>
      </a>

      <a href="https://tiktok.com/@gheanur" target="_blank" class="text-white">
        <i class="bi bi-tiktok"></i>
      </a>

      <a href="https://instagram.com/af.gheaayanuar" target="_blank" class="text-white">
        <i class="bi bi-instagram"></i>
      </a>

      <a href="https://github.com/Gheanur" target="_blank" class="text-white">
        <i class="bi bi-github"></i>
      </a>

    </div>
  </div>
</section>

