<!-- NAVBAR -->
<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Alif Ghea</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navMenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#education">Pendidikan</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#projects">Project</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#skill">Skill</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#organization">Organisasi</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#commitee">Kepanitiaan</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#gallery">Galeri</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#achievement">Prestasi</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#social">Sosial</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/buku-rihlah/ziarah-wali-songo/wali/sunan-gunung-jati/index.html">Sejarah Wali Songon</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
